#main-nav .social {
  display: none;
}

#main-nav .container {
  grid-template-columns: 1fr;
  grid-gap: 1.2rem;
}

#main-nav .logo,
#main-nav ul {
  justify-self: center;
}

#main-nav ul li a {
  padding: 0.5rem;
}

#showcase .showcase-container {
  height: 100%;
}

#showcase .showcase-container,
#home-articles .articles-container,
.page-container,
#main-footer .footer-container {
  grid-template-columns: 1fr;
}

#home-articles .articles-container > article:first-child,
#home-articles .articles-container > article:last-child,
#main-footer .footer-container > div:last-child,
.page-container > *:first-child {
  grid-template-columns: 1fr;
  grid-column: 1;
}

#article .meta {
  flex-direction: column;
  align-items: flex-start;
}

#main-footer .footer-container >*:first-child,
#main-footer .footer-container >*:nth-child(2) {
 border-bottom: #444 dotted 1px;
 padding-bottom: 1rem;
}